Repository robotology/gym-ignition, pull requests merged in 2020-09, with the labels that each got.

#237 Update to new ign-gazebo API for executing paused runs
  .docker/tags_citadel.yaml
  cpp/scenario/gazebo/src/GazeboSimulator.cpp
  tests/test_scenario/test_gazebo_simulator.py
Labels: complexity::low, component::scenario::gazebo, pr::status::feedback

#243 Website automatic deployment
  .github/workflows/website.yml
  docs/sphinx/conf.py
  setup.py
Labels: complexity::medium, component:documentation, pr::status::feedback

#242 Switch from gym-ignition-nightly to gym-ignition pre-releases
  .docker/Dockerfile
  .docker/docker-compose.yml
  .github/workflows/pypi.yml
  README.md
  docs/sphinx/installation/intro.rst
  docs/sphinx/installation/nightly.rst
Labels: complexity::medium, component::cicd, component:documentation, pr::status::feedback

#246 Avoid to use std::to_string to pass floating point simulation parameters
  cpp/scenario/gazebo/src/helpers.cpp
  tests/test_scenario/test_world.py
Labels: complexity::medium, component::scenario::gazebo, pr::status::feedback

#248 Fix resetting base model velocity using separate calls for linear and angular components
  cpp/scenario/gazebo/src/Model.cpp
  tests/test_scenario/test_model.py
Labels: complexity::low, component::scenario::gazebo, component::tests, pr::status::feedback
