Repository robotology/gym-ignition, pull requests merged in 2021-03, with the labels that each got.

#299 improve insertWorldFromSDF docs
  cpp/scenario/gazebo/include/scenario/gazebo/GazeboSimulator.h
  cpp/scenario/gazebo/src/GazeboSimulator.cpp
Labels: component:documentation

#309 Resolve Fuel resources when included in models and worlds
  README.md
  cmake/ImportTargetsDome.cmake
  cpp/scenario/gazebo/CMakeLists.txt
  cpp/scenario/gazebo/include/scenario/gazebo/GazeboSimulator.h
  cpp/scenario/gazebo/src/GazeboSimulator.cpp
  tests/assets/worlds/fuel_support.sdf
  tests/test_scenario/test_ignition_fuel.py
Labels: complexity::medium, component::scenario::gazebo, component::tests, pr::status::feedback

#311 New Feature: Support raw SDF strings in insertModel
  cpp/scenario/gazebo/include/scenario/gazebo/World.h
  cpp/scenario/gazebo/src/World.cpp
  tests/common/utils.py
  tests/test_scenario/test_world.py
Labels: complexity::medium, component::scenario::gazebo, component::tests, pr::status::in-progress

#316 Fix segfault with protobuf, torch, gym (atari), and ScenarIO
  bindings/__init__.py
Labels: complexity::medium, component::scenario::python, pr::status::feedback
