Repository robotology/gym-ignition, pull requests merged in 2021-04, with the labels that each got.

#320 DOC: add link to website at the top of the Readme
  README.md
Labels: complexity::trivial, component:documentation, pr::status::feedback

#317 Disable contact detection by default
  cpp/scenario/gazebo/src/Link.cpp
  docs/sphinx/getting_started/manipulation.rst
  examples/panda_pick_and_place.py
  tests/test_scenario/test_contacts.py
Labels: complexity::low, component::scenario::gazebo, pr::status::feedback

#307 Bump Ignition distribution to Edifice
  .docker/docker-compose.yml
  .github/workflows/cicd.yml
  CMakeLists.txt
  README.md
  cmake/FindIgnitionDistribution.cmake
  cmake/ImportTargetsEdifice.cmake
  docs/sphinx/info/faq.rst
  docs/sphinx/installation/support_policy.rst
Labels: complexity::low, component::cicd, component::cmake, component:documentation

#330 Do not overwrite default linker flags so that LDFLAGS environment variable is considered
  CMakeLists.txt
Labels: complexity::low, component::cmake

#331 CMake improvements
  .github/workflows/cicd.yml
  CMakeLists.txt
  bindings/CMakeLists.txt
  bindings/core/CMakeLists.txt
  bindings/gazebo/CMakeLists.txt
  cpp/scenario/core/CMakeLists.txt
Labels: complexity::low, component::cmake, pr::status::feedback

#318 Align Physics system
  .github/workflows/cicd.yml
  cpp/scenario/CMakeLists.txt
  cpp/scenario/gazebo/CMakeLists.txt
  cpp/scenario/gazebo/include/scenario/gazebo/components/WorldVelocityCmd.h
  cpp/scenario/gazebo/include/scenario/gazebo/helpers.h
  cpp/scenario/gazebo/src/GazeboSimulator.cpp
  cpp/scenario/gazebo/src/Model.cpp
  cpp/scenario/gazebo/src/helpers.cpp
  cpp/scenario/plugins/Physics/CMakeLists.txt
  cpp/scenario/plugins/Physics/EntityFeatureMap.hh
  cpp/scenario/plugins/Physics/Physics.cc
  cpp/scenario/plugins/Physics/Physics.cpp
  cpp/scenario/plugins/Physics/Physics.h
  cpp/scenario/plugins/Physics/Physics.hh
Labels: complexity::medium, component::scenario::plugins, pr::status::feedback

#321 Address sdformat11 deprecations
  cpp/scenario/gazebo/include/scenario/gazebo/helpers.h
  cpp/scenario/gazebo/include/scenario/gazebo/utils.h
  cpp/scenario/gazebo/src/World.cpp
  cpp/scenario/gazebo/src/helpers.cpp
  cpp/scenario/gazebo/src/utils.cpp
  tests/test_scenario/test_world.py
Labels: complexity::low, component::scenario::gazebo, component::tests, pr::status::feedback

#335 Simplify passing the physics parameters to the `Server`
  cpp/scenario/gazebo/src/GazeboSimulator.cpp
  cpp/scenario/gazebo/src/World.cpp
Labels: complexity::medium, component::scenario::gazebo, pr::status::feedback

#336 Align empty world with upstream
  cpp/scenario/gazebo/src/utils.cpp
  docs/sphinx/info/faq.rst
Labels: complexity::low, component::scenario::gazebo, component:documentation, pr::status::feedback

#339 Fix call to `setComTarget` in InverseKinematicsNLP
  python/gym_ignition/rbd/idyntree/inverse_kinematics_nlp.py
  tests/test_scenario/test_ignition_fuel.py
Labels: complexity::trivial, component::gym_ignition, pr::status::feedback

#338 Prepare multiple physics engines support
  cpp/scenario/gazebo/src/World.cpp
Labels: complexity::low, component::scenario::gazebo, pr::status::feedback

#334 Improve how links with no collision elements are handled in contact detection
  cpp/scenario/core/include/scenario/core/Link.h
  cpp/scenario/gazebo/src/Link.cpp
  cpp/scenario/gazebo/src/Model.cpp
Labels: complexity::low, component::scenario::gazebo, pr::status::feedback

#342 Move inheritance from `ModelWithFile` to `ICubGazeboABC`
  python/gym_ignition_environments/models/icub.py
Labels: complexity::trivial, component::gym_ignition_environments, pr::status::feedback
